* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  width: 100vw;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: 700;
}

.header {
  background-color: #0b49e7;
  padding: 35px 0;
  width: 100vw;
  margin: 0;
}

.header__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 1, 625rem;
}
@media (max-width: 1170px) {
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 320px) {
  .header__container {
    font-size: 14px;
    font-size: calc(0.0025 * 100vw + 9.2px);
  }
}
@media (min-width: 1920px) {
  .header__container {
    font-size: 14px;
  }
}

@media (max-width: 870px) {
  .header__container {
    flex-wrap: wrap;
  }

  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin-left: 35%;
  padding: 0;
}

.nav__item {
  margin: 0 1vw;
}

.nav__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.nav__link:hover {
  color: aqua;
}

.header__acc {
  text-decoration: none;
  color: #0b49e7;
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  letter-spacing: -0.03em;
}

.header__acc:hover {
  background-color: aqua;
}

.caption {
  background-image: url(../background.jpg);
  background-size: cover;
  background-color: #0b49e7;
  margin: 0;
  position: relative;
}

@media (min-width: 1370px) {
  .caption::before {
    content: "";
    width: 196px;
    height: 293px;
    background-image: url(../Shape.png);
    top: 12.5vw;
    left: 13.3vw;
    position: absolute;
  }

  .caption::after {
    content: "";
    width: 325px;
    height: 585px;
    background-image: url(../Rounded.png);
    top: 9.3vw;
    right: 0;
    position: absolute;
  }
}
.caption__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 9vw 0 20px;
}
@media (max-width: 1170px) {
  .caption__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.caption__tittle {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}
@media (min-width: 320px) {
  .caption__tittle {
    font-size: 40px;
    font-size: calc(0.009375 * 100vw + 22px);
  }
}
@media (min-width: 1920px) {
  .caption__tittle {
    font-size: 40px;
  }
}

.caption__text {
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  color: white;
  margin: 25px;
}
@media (min-width: 320px) {
  .caption__text {
    font-size: 14px;
    font-size: calc(0.0025 * 100vw + 9.2px);
  }
}
@media (min-width: 1920px) {
  .caption__text {
    font-size: 14px;
  }
}

.caption__button {
  color: #0b49e7;
  background-color: white;
  padding: 15px 50px;
  border-radius: 30px;
  margin: 20px auto;
}

.caption__button:hover {
  background-color: aqua;
}

.caption__button a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0b49e7;
  font-weight: 600;
  font-size: 10px;
}
@media (min-width: 320px) {
  .caption__button a {
    font-size: 14px;
    font-size: calc(0.0025 * 100vw + 9.2px);
  }
}
@media (min-width: 1920px) {
  .caption__button a {
    font-size: 14px;
  }
}

.caption__card {
  max-width: 100%;
  margin-top: 4vw;
}

.getting {
  background-color: #f3f2f2;
  padding: 155px 0 235px;
}

.getting__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 1170px) {
  .getting__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.getting__steps {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .getting__steps {
    flex-direction: column;
  }
}
.getting__step {
  border: 1px solid #dbdada;
  margin: 15px;
  background-color: white;
  padding: 48px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.getting__step-chart {
  width: 100px;
  height: 100px;
  background: url(../src/img/chart.png) no-repeat;
  background-size: contain;
}

.getting__step-hand {
  width: 100px;
  height: 100px;
  background: url(../src/img/hand.png) no-repeat;
  background-size: contain;
}

.getting__step-card {
  width: 100px;
  height: 100px;
  background: url(../src/img/card.png) no-repeat;
  background-size: contain;
}

.getting__text-tittle {
  font-size: 20px;
  color: #333333;
  margin: 10px 0 100px;
}
@media (min-width: 320px) {
  .getting__text-tittle {
    font-size: 30px;
    font-size: calc(0.00625 * 100vw + 18px);
  }
}
@media (min-width: 1920px) {
  .getting__text-tittle {
    font-size: 30px;
  }
}

.getting__text-text {
  color: #808080;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 320px) {
  .getting__text-text {
    font-size: 24px;
    font-size: calc(0.005 * 100vw + 14.4px);
  }
}
@media (min-width: 1920px) {
  .getting__text-text {
    font-size: 24px;
  }
}

@media (min-width: 1025px) {
  .getting__step:hover {
    background-color: #0b49e7;
    color: white;
    background: linear-gradient(to bottom right, #0b49e7, #071d68);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
.getting__step-tittle {
  font-size: 15px;
}
@media (min-width: 320px) {
  .getting__step-tittle {
    font-size: 20px;
    font-size: calc(0.003125 * 100vw + 14px);
  }
}
@media (min-width: 1920px) {
  .getting__step-tittle {
    font-size: 20px;
  }
}

.getting__step-text {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  color: #808080;
}
@media (min-width: 320px) {
  .getting__step-text {
    font-size: 14px;
    font-size: calc(0.0025 * 100vw + 9.2px);
  }
}
@media (min-width: 1920px) {
  .getting__step-text {
    font-size: 14px;
  }
}

.service__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  text-align: center;
  padding: 150px 0 130px;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1170px) {
  .service__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.service__text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.service__text-tittle {
  font-size: 20px;
  color: #333333;
  margin: 5px 0 60px;
}
@media (min-width: 320px) {
  .service__text-tittle {
    font-size: 30px;
    font-size: calc(0.00625 * 100vw + 18px);
  }
}
@media (min-width: 1920px) {
  .service__text-tittle {
    font-size: 30px;
  }
}

.service__text-text {
  color: #808080;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 320px) {
  .service__text-text {
    font-size: 24px;
    font-size: calc(0.005 * 100vw + 14.4px);
  }
}
@media (min-width: 1920px) {
  .service__text-text {
    font-size: 24px;
  }
}

.counter {
  background-color: #0b49e7;
  background: url(../src/img/back2.png) no-repeat;
  background-size: cover;
  width: 100vw;
}

.counter__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  text-align: center;
  color: white;
  justify-content: space-between;
  padding: 170px 0;
}
@media (max-width: 1170px) {
  .counter__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1240px) {
  .counter__container {
    flex-direction: column;
  }
}
.counter__text {
  display: flex;
  flex-direction: column;
}

.counter__text-aw {
  font-size: 3.5rem;
  margin: 0;
}

.counter__text-num {
  font-size: 3.25rem;
  margin: 0;
  font-weight: 600;
}

.counter__text-tx {
  font-size: 1.5rem;
  margin: 0;
}

.feedback {
  width: 100vw;
}

.feedback__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  text-align: center;
  padding: 100px 0 120px;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1170px) {
  .feedback__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.feedback__container h3 {
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  margin-bottom: 50px;
}
@media (min-width: 320px) {
  .feedback__container h3 {
    font-size: 30px;
    font-size: calc(0.00625 * 100vw + 18px);
  }
}
@media (min-width: 1920px) {
  .feedback__container h3 {
    font-size: 30px;
  }
}

.feedback__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback__form-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 30px);
  justify-content: flex-start;
}

.feedback__form-col:first-child {
  margin-right: 60px;
}

form {
  width: 100%;
}

.feedback__form-col input {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  border: 1px solid #dbdada;
}

.feedback__form-col textarea {
  width: 100%;
  height: 130px;
  border: 1px solid #dbdada;
}

.feedback__form-col button {
  width: 100%;
  background-color: #0b49e7;
  color: white;
  border: none;
  margin-top: 30px;
  height: 50px;
}

.footer {
  background-color: #0b49e7;
  background: url(../src/img/back2.png) no-repeat;
  background-size: cover;
}

.footer__container {
  max-width: 1170px;
  margin: auto auto;
  display: flex;
  text-align: center;
  color: white;
  font-size: 0.875rem;
  justify-content: center;
  padding: 40px;
}
@media (max-width: 1170px) {
  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
